@page "/graphics"

<PageTitle>Maui.Graphics Paint Example</PageTitle>

<h1>Maui Paint</h1>

<p>Click and drag in the canvas to paint.</p>

<p>
    <button @onclick="@HandleClear">Clear</button>
</p>

<div id="drawing_canvas_container" style="background-color:white;flex:1">
    <SKCanvasView id="drawing_canvas" @ref="_skiaCanvas" OnPaintSurface="@OnPaintSurface" style="position:absolute; border: solid"
                  @onmousedown="HandleMouseDown"
                  @onmouseup="HandleMouseUp"
                  @onmousemove="HandleMouseMove"
                  @onmouseout="HandleMouseOut"
                  @onpointerdown="HandlePointerDown" />
</div>
